*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Header Styling*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 3rem;
    margin-right: 1.5rem;
}
ul{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

li{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
.hamburger{
    display: none;
}
/*Main Styling */
.hero{
    background-image: url(./assests/Rectangle\ 48.png);
    background-repeat: no-repeat;
    background-size:contain;
    text-align: center;
    padding: 1rem 3rem;
    padding-bottom: 2rem;
}
.top-content{
    margin: 8% 15%;
    margin-bottom: 2rem !important;

}
.btn{
    padding: 0.8rem 3rem;
    border-radius: 30px;
    border: none;
    border: 1px solid;
    color: #FFFFFF;
    background-color: transparent;
}
.playstore{
    background-color: #F84A0D;
    border: none;
    margin-right: 2rem;
}
.float-image{
    background-image: none;
    margin-top: 0.8rem;
}

.middle-content{
    margin-top: 5rem;
    text-align: center;
}
.hr-phone{
    display: none;
}
.card{
    margin: 0 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5rem;
}
.card-content{
    width: 50%;
    text-align: left;
}
.bottom-content{
    margin-top: 5rem;
    background-image: url(./assests/Rectangle\ 47.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.bottom{
    color: #FFFFFF;
    margin: 0 15%;
    text-align: center;
    padding: 5rem ;
}
.extra{
    display: none;
}
.bottom-btn1{
    Padding :18px 31px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
}
.bottom-btn2{
   padding: 16px 45px;
   border-radius: 10px;
   font-size: 16px;
   font-weight: 700;
}

footer{
    margin: 0 3%;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.middle-footer{
    display: flex;
    gap: 10px;
}
.right-footer{
    font-weight: 700;
    color:#5C5C5C;
}


/*Responsive Styling*/

@media screen and (max-width: 800px){
    
    .hamburger{
        display: block;
    }
    ul{
        display: none;
    }
    nav{
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    .hero{
    background-image: none;
    padding: 0;
    }

    .top-content{
        border: 1px solid yellowgreen;
        margin: 0;
        margin-bottom: 2rem !important;
    
    }
    .top-content span,h4{
        color: #737373 !important;
    }
    .top-content h1 {
        color: #252B42 !important;
    }
    .btn{
        border: 1px solid #FA4A0C;
        color: #FA4A0C;
    }
    .playstore{
        color: #FFFFFF;
        margin-right: 0;
    }
    .button-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:20px;
    }
    .float-image{
        margin-top: 0;
        width: 100%;
    }
    .hr-phone{
        display: block;
    }
    .hr-lap{
        display: none;
    }
    .card{
        flex-direction: column-reverse;
        width: 100%;
        margin: 0;
    }
    .card-content{
        width: 100%;
        text-align: center;
    }
    .card2{
        display: flex;
        flex-direction: column;
    }

    .bottom-content{
        background-image: none;
        background-color: #252A41;
    }
    .bottom{
        width: 100%;
        margin: 0;
    }
    .extra{
        display: block;
    }
    .extra1{
        display: none;
    }
    .btttn{
        color: #FFFFFF !important;
        border: 1px solid #FFFFFF;
    }
    .phone-button{
        display: flex;
        gap: 20px;
        justify-content: center;
    }
    .left-footer{
        display: none;
    }
    footer{
        flex-direction: column;
        width: 100%;
    }
}